*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
.headline{
	padding: 20px 0;
	text-align: center;
}

}
.list{
	padding: 15px 20px;
	list-style:none;
	text-align:center;
	margin:0 auto;
	border-bottom:1px solid black;
	border-top:1px solid black;
}
.list-item{
	display:inline-block;
	margin: 15px 20px;
	text-align:center;
}
.main{
	padding:50px 0;
	text-align: center;
}
.box{
	width:200px;
	height:200px;
	display:inline-block;
	
	text-align:center;
}
.green1{
	background-color: #e6ffe9;
}
.green2{
	background-color: #cbffd3;
}
.green3{
	background-color: #aeffbd;
}
.green4{
	background-color: #93ffab
}
.yellow1{
	background-color: #f3ffd8;
}
.yellow2{
	background-color: #edffbe;
}
.yellow3{
	background-color: #e9ffa5;
}
.yellow4{
	background-color: #e4ff8d;
}
.blue1{
	background-color: #d9e5ff;
}
.blue2{
	background-color: #bad3ff;
}
.blue3{
	background-color: #a4c6ff;
}
.blue4{
	background-color: #8eb8ff;
}
footer{
	height:120px;
	line-height: 120px;
	text-align:center;
}